form.signup,
form.city,
form.login {
  margin-top: 40px;
}
.cityname{
  margin-left:20px;
  margin-top: 15px;
}

.form-box1 {
  margin-top:25px;
  margin-bottom:50px;
  padding: 20px;
  border-radius: 25px;
  border: solid;
  border-color: #0078E7;
  align-self:center;
}

.form-box2 {
  margin-top:10px;
  margin-bottom:30px;
  padding: 10px;
  border-radius: 25px;
  border: solid;
  border-color: rgb(248, 246, 246);
  align-self:center;
  display: flexbox;
  display: inline-block;
  text-align: center;
  width: 100%;
  background-color: rgb(77, 13, 21);
  opacity: 0.5;
}
 .btn1{
   margin-left: 10px;
   margin-top: 10px;
 }
 .text2{
  color: rgb(248, 246, 246);
 }
