form.signup,
form.city,
form.login {
  margin-top: 40px;
}
.cityname{
  margin-left:20px;
  margin-top: 15px;
}

.form-box1 {
  margin-top:10px;
  margin-bottom:50px;
  padding: 20px;
  border-radius: 25px;
  border: solid;
  border-color: #0078E7;
  align-self:center;
}

.form-box2 {
  margin-top:30px;
  margin-bottom:50px;
  padding: 20px;
  border-radius: 25px;
  border: solid;
  border-color: rgb(63, 6, 6);
  align-self:center;
  display: flexbox;
  width: 100%;
  background-color: rgb(241, 232, 232);
  opacity: 0.5;
}