.card {
  background: #fff;
  border-radius: 2px;
  min-height: 450px;
  margin-bottom: 40px;
  position: relative;
  /* width: 70%; */
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  opacity: 0.75;
  
 }
 .wishlist{
   width: 50%; 

 }
 .form{
   width:100%;
 }

.card > .img-container {
  height: 10%;
  overflow: hidden;
  text-align: center;
  background:#cee795;
}
.card > .img-container > img {
  width: 10%
}

h5, h6{
  text-align: center;
  margin-top: 10px;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  align-self: left;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 10px;
  
}

.card > .remove {
  color: #ff1744;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  /* top: -2px; */
  right: 5px;
  cursor: pointer;
  background-color: rgb(107, 201, 201);
  margin-top: 10px;
}

.card > .remove:hover {
  color: #d50000;
}

textarea{
  margin-top: 20px;
}