.card {
  background: #fff;
  border-radius: 2px;
  height: 300px;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  opacity: 0.75;
 }

.card > .img-container {
  height: 10%;
  overflow: hidden;
  text-align: center;
  background:#cee795;
}
.card > .img-container > img {
  width: 10%
}

h6{
  text-align: center;
  margin-top: 10px;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  align-self: center;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 10px;
  
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}
