body{
  background-color: #C6C7CD;
  background-image: url(./../images/bg.jpg);
  background-repeat: no-repeat;
   background-position: center;  
  background-size: auto 100%;
  /*background-position: left top;*/
  background-size:cover;
  color: black;
}

h3, h4 {
  text-align: center;
}

.center {
  
  display: flex;
  justify-content: center;
}

.text{
  margin-top: 25px;
  font-weight: bold;
  color: black;
}

img {
  border-radius: 20%;
  float: left;
  margin-right: 10px;
}
.text-secondary{
  color: rgb(77, 13, 21);
 font-weight: bold;
}

.btn {
background-color: rgb(77, 13, 21);
opacity:0.5;
color: white;
}
.left{
  float: left;
}
/* .right{
  float: right;
} */


.navbar{
  height: 100px;
  position: relative;
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;  /* 50% of your logo width */
  display: block;
}