.card1 {
  background: #fff;
  border-radius: 2px;
  min-height: 450px;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  opacity: 0.75;
  margin-right: 200px;
 }

.card1 > .img-container1 {
  height: 10%;
  overflow: hidden;
  text-align: center;
  background:#cee795;
}
.card1 > .img-container1 > img {
  width: 10%
}

h6{
  text-align: center;
  margin-top: 10px;
}

.card1 > .content1 {
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  font-size: 13px;
  align-self: left;
  margin-top: 5px;
  
}

.card1 > .content1 > ul {
  margin-right: 5px;
  list-style-type: none;
}

.card1 > .content1 > ul > li {
  margin-top: 5px;
  
  list-style-type: none;
}

.card1 > .remove {
  color: #ff1744;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  /* top: -2px; */
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}

ul {
  list-style-type: none;
}
